$brand-blue: #458fc2;

body{
  font-family: 'Lato', sans-serif;
}
body.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
}
section {
  padding: 50px;
}
h1, h2, h3{
  font-family: 'Open Sans', sans-serif;
}
h1{
  font-weight: 100;
  font-size: 30px;
}
h2 {
  font-size: 2.1em;
  text-align: center;
  font-weight: 100;
}
h3 {
  font-weight: 200;
}
p {
  margin: 0px;
  font-size: 1.2em;
}

.btn, input {
  border-radius: 0;
}
.btn.btn-brand {
  border: 2px solid $brand-blue;
  color: $brand-blue;
  font-size: 1.2em;
  &:hover {
    background: $brand-blue;
    color: #fff;
  }
}
.form-control, input.form-control, textarea.form-control {
  border-radius: 0;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.input-group {
  max-width: 240px;
}

.navbar {
  position: absolute;
  background-color: transparent;
}
.navbar-brand > img{
  width: 169px;
}
.navbar-brand{
  padding: 20px 15px 15px 15px
}
.navbar-default .navbar-nav>li>a {
  font-weight: 300;
  border-top: solid transparent 4px;
  color: rgba(255,255,255,0.85);
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  padding-top:20px;
  &.active{
    border-top: solid #fff 4px;
  }
  &.sign-up{
    font-weight: 400;
    border-top: solid transparent 4px;
    color: #fff;
    &.active{
      border-top: solid transparent 0px;
    }
  }
}
.navbar-default .navbar-nav>li>a:hover {
  color: #216eb2;
}

.navbar-default .navbar-brand {
  color: #191919;
}
.navbar-default {
  width: 100%;
  border-style: none;
  font-size: larger;
}
.input-group .form-control{
  color: #555;
}
.jumbotron {
  text-align: center;
  top: 50%;
  color: white;
  margin-bottom: 0px;
  padding: 0px;
}
.jumbotron h2, h1 {
  padding-top: 80px;
  font-size: 30px!important;
}
// WORKFLOW
.workflow {
  background-color: white;
  position: relative;
  background-color: #fff;

  h2 {
    margin-bottom: 50px;
  }
  .arrow {
    background: $brand-blue;
    height: 3px;
    margin: 0;
    position: relative;
    top: 80px;
  }
}
.workflow-step {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 20px;
  float: left;
  width: 20%;
  h3 {
    font-size: 1.4em;
    font-weight: 600;
    color: $brand-blue;
  }
  .icon-wrapper .fa {
    transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease, transform 0.3s ease;
    background: $brand-blue;
    color: #fff;
    border-radius: 50%;
    border: 3px solid $brand-blue;
  }
  .icon-wrapper{
    border-radius: 110%;
    display: inline-block;
    perspective: 301px;
    margin: auto;
    background: #fff;
    &:hover i.fa {
      transform: rotateY(180deg);
      border-color: $brand-blue;
      color: $brand-blue;
      background-color: #fff;
      top: 0px;
      left: 0px;
      position: relative;
      cursor: pointer;
    }
  }
}

// CUSTOMER BENEFIT
.benefits {
  background: $brand-blue;
  color: #fff;
  h2 {
    margin-top: 40px;
    text-align: center;
    font-weight: 100;
  }
  h3 {
    font-size: 1.4em;
    font-weight: 400;
  }
  ul {
    padding: 0;
  }
  li {
    text-align: center;
    list-style: none;
  }
}

.testimonials {
  box-shadow: inset 0px 10px 70px 0px rgba(8, 8, 8, 0.1);
  color: #333;
  background-color: #fcfcfc;
  height: 310px;
  margin-bottom: 20px;
  h3{
    color: #004266;
    font-size: 2em;
    text-align: left;
    padding-bottom: 10px;
    margin-top: 0px;
    font-weight: 500;
  }
  p{
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  .video-text{
    padding: 20px;
    padding-top: 0px;
  }
}


// brands
.brands  {
  text-align: center;
  background-color: #fff;
  padding-bottom: 30px;

}
.brands img {
  width: 100%;
  max-width: 1170px;
  align-items: center;
  vertical-align: middle;
}
.brands h2 {
  margin-bottom: 30px;
}
.feature {
  margin-top: 40px;
  margin-bottom: 40px;
}
.feature img {
  width: 100%;
}
.feature:nth-child(odd)  {
    background: #eee;
}
.features {
  padding-top: 30px;
  padding-bottom: 30px;
}
.user {
  text-align: center;
}
.userimg {
  width: 70%;
  border-radius: 60px;
}
.userlogo {
  width: 50%;
}
.pricetag {
  margin-left: 20px;
  margin-bottom: 35px;
  padding: 20px;
  background-color: #eee;
  text-align: center;
}
.price {
  font-weight: bold;
}
hr {
  border-top: 1px dashed #8c8b8b;
}
@media (max-width:444px) {
  .workflow{
    h3{
      font-size: 19px;
    }
  }
}
@media (max-width:992px) {
	i.cool-icon {
		padding:30px;
		margin:10px;
		font-size: 1.6em;
	}
}
@media (max-width:768px) {
  .testimonials{
    height: 100%;
    .video-text{
      padding-top: 20px;
    }
  }
  .brands{
    margin-top: 40px;
  }
}
@media (min-width:993px) {
	i.cool-icon {
		padding:30px;
		margin:10px;
		font-size: 1.9em;
	}
	i.cool-icon:after {
		border-width:3px;
		top:0px;
		left:0px;
	}
  // .testimonials{
  //   height: 230px;
  // }
}
