
.features {
  padding-top: 50px;
  padding-bottom: 30px;
  section{
    h2{
      margin-top: 25px;
      margin-bottom: 15px;
      color: $brand-blue;
    }
    p {
      font-size: 1.5em;
      font-weight: 300;
    }
  }
}

.step-number {
  display: inline-block;
  border-radius: 40px;
  padding-top: 3px;
  height: 42px;
  width: 42px;
  margin-right: 14px;
  // background: $brand-blue;
  border: 2px solid $brand-blue;
  color: $brand-blue;
}

.feature-animation {
  img {
    width: 100%;
  }
}

aside.features-sidebar {
  padding-top: 50px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  &.affix-top {
    top: 0px;
  }
  &.affix {
    position: fixed;
    top: 100px;
  }
  &.affix-bottom {
    top: auto;

  }
  li {
    &.active {
      a {
        background: #ccc;
      }
    }
  }
}