/*==== CALL TO ACTION ====*/

.call-to-action {
  text-align: center;
  padding-bottom: 75px;
  background-color: $brand-blue;
  color: #fff;
  h3 {
    padding-bottom: 15px;
    margin-bottom: 0px;
    font-weight: 100;
  }
  .btn  {
    margin-top: 15px;
  }
}

/*==== FOOTER ====*/

footer {
  padding: 45px;
  padding-top: 0px;
  background-color: #334044;
  border-top: 4px solid #fff;
  color: white;
  h3 {
    margin-bottom: 20px;
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top:  12px;
  }
  a {
    color: #4195CE;
    font-weight: 500;
  }
  .copyright {
    color: #bcd;
    margin-top: 30px;
  }
}

.footer-links {
  border-top: solid 1px rgba(255,255,255,0.2);
  li {
    display: inline-block;
    padding: 0 8px;
    border-right: solid thin #fff;
    &:last-child {
      border-right: none;
    }
    &:first-child {
      padding-left: 0;
    }
  }
  a {
    color: #fff;
  }
}

.footer-logo {
  text-align: center;
  position: relative;
  top: -24px;
  img {
    padding: 6px 0;
    border-radius: 3px;
    z-index: 1;
    background-color: #fff;
    max-width: 220px;
    width: 100%;
  }
}

.contact-info {
  display: block;
  margin: 0 0;
  font-weight: 300;
  span {
    margin-right: 10px;
  }
  .fa  {
    top: 1px;
    margin-right: 5px;
    font-size: 1em;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    line-height: 30px;
  }
  a {
    color: #fff;
  }
  .fa:hover{
    background-color: #48a6e6;
  }
}

.footer-contact {
  border-left: 1px solid rgba(255,255,255,0.2);
  padding: 3px 0 3px 20px;
  ul {
    margin-bottom: 0px;
  }
}
