.hero {
  background: url('/assets/images/paint-texture.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding: 0;
  .hero-content {
    background: rgba(255,255,255,0.1);
    padding: 55px;
    padding-top: 72px;
  }
}

.hero-cta {
  margin: 55px auto;
  .form-control {
    background: #fff;
    padding: 18px 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    &::placeholder {
      color: rgba(0,0,0,0.5);
    }
  }
  .input-group-btn {
    font-size: 1.2em;
    .btn {
      padding: 7px 15px 6px 15px;
      font-size: 1em;
      font-weight: 300;
    }
  }
}
