.price-banner {
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding: 0;
  .price-banner-content {
    // background: rgba(255,255,255,0.1);
    padding: 55px;
    padding-top: 40px;

    // background-color: $brand-blue;
    text-align: center;
    top: 50%;
    color: white;
    margin-bottom: 0px;
    padding: 0px;
    h2{
    margin-top: -22px;
    }
  }
}

.price-list {
  h2{
    margin-bottom: 70px;
    margin-top: 70px;
  }
}

.pricetag{
  margin: 20px;
  margin-bottom: 35px;
  margin-top: 45px;
  padding-bottom: 0;
  padding-top: 0;
  background-color: #458fc2;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  .price {
    font-size: .9em;
    width: 97px;
    color: $brand-blue;
  }
  h3{
    z-index: 2;
    border-radius: 3px;
    margin: 17px;
    font-weight: 100;
    // background-color: #334044;
  }
  ul {
    list-style: none;
    padding: 0 0 20px 0;
    margin-bottom: 0;
    border-bottom: 4px solid #fff;
  }
  li {
    list-style: none;
    text-align: center;
  }
  .btn.btn-primary {
    a: 15px;
    margin: -1px 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
    border: none;
    width: 100%;
    background-color: #334044;
  }
  .btn.btn-primary:hover {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    // color: $brand-blue;
    background-color: darken(#334044, 5%);
    font-weight: 700;
  }
  .line{
    content: "";
    display: none;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: auto;
    border-width: 0 0 0 4px;
    width: 9px;
    height: 35px;
    background-color: #fff;
  }
  .coin-icon-wrapper .price{
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, transform 0.4s ease;
    background: $brand-blue;
    color: #fff;
    border-radius: 50%;
    border: 3px solid $brand-blue;
    padding:30px;
    margin:3px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1.9em;
    &:after {
      border-width:3px;
      top:0px;
      left:0px;
    }
  }
  .coin-icon-wrapper {
    border-radius: 110%;
    display: inline-block;
    perspective: 301px;
    margin: auto;
    background: #fff;
    margin-top: -60px;
    &:hover .price{
      transform: rotateY(360deg);
      border-color: $brand-blue;
      color: $brand-blue;
      background-color: #fff;
      top: 0px;
      left: 0px;
      position: relative;
      cursor: pointer;
    }
  }
  // .coin-icon-wrapper:nth-child(1) {
  //   background-color: #a58857;
  //   border-color: #a58857;
  // }
  // .coin-icon-wrapper:nth-child(2) {
  //   background-color: #c1c1c1;
  //   border-color: #c1c1c1;
  // }
  // .coin-icon-wrapper:nth-child(3) {
  //   background-color: #c39007;
  //   border-color: #c39007;
  // }
  // .coin-icon-wrapper:nth-child(4) {
  //   background-color: #216eb2;
  //   border-color: #216eb2;
  // }
}
.price-page{
  .call-to-action{
    display: none!important;
  }
  footer{
    margin-top: 50px;
  }
}
