p{
  margin: 0px;
}
a.active{
  font-weight: bold;
}
.jumbotron{
  text-align: center;
  top: 50%;
  background-color: white;
}
.jumbotron h2{
  padding-top: 60px;
}
.banner{
  height: 370px;
}
.btn {
  margin: 10px;
  margin-top: 0px;
  text-align: center;
  height: 44px;
}
.benefits{
  background-color: #eee;
}
.brands {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #eee;
  padding-bottom: 30px;

}
.brands img{
  width: 50%;
  align-items: center;
  vertical-align: middle;
}
.brands h2{
  margin-bottom: 30px;
}

.testimonials{
  background-color: white;
}

footer{
  padding: 45px;
  font-weight: bolder;
  background-color: #eee;
}
footer ul{
  list-style-type: none;
  padding-left: 0px;
}
.calltoaction btn{
  margin-top: 45px;
}
.calltoaction{
  text-align: center;
  padding-top: 30px;
}
.calltoaction h3{
  padding-bottom: 15px;
}
.benefit{
  text-align: center;
  padding: 20px;
}
.benefit .fa{
  padding-bottom: 20px;
}
.feature{
  margin-top: 40px;
  margin-bottom: 40px;
}
.feature img{
  width: 100%;
}
.feature:nth-child(odd) {
    background: #eee;
}
.features{
  padding-top: 30px;
  padding-bottom: 30px;
}
.user{
  text-align: center;
}
.userimg{
  width: 70%;
  border-radius: 60px;
}
.userlogo{
  width: 50%;
}
.pricetag{
  margin-left: 20px;
  margin-bottom: 35px;
  padding: 20px;
  background-color: #eee;
  text-align: center;
}
.price{
  font-weight: bold;
}
hr{
  border-top: 1px dashed #8c8b8b;
}

.form-control{
  height: 45px;
  font-size: 20px;
  font-weight: lighter;
  line-height: 2;
  background-color: transparent;
  padding: 0px;
  width: 276px;
  float: left;
  border-radius: 2px;

}
.form-group{
  margin-bottom: 0px;
}
/*.btn .btn-primary{
  border-radius: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 67px;
}*/
.corkFooterLogo img{
  z-index: 1;
  background-color: darkgray;
  border-color: #eee;
  border-width:thick;
  border-style: solid;
  text-align: center;
  width: 100%;
  position: relative;
  top: 37px;
}
.corkFooterLogo{
}
.contactcol{
}
.socialMediaIcons > .fa{
  padding-right: 10px;
}
.footerRow{
  padding-top: 35px;
}
